body{
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 100px;
}

h1 {
    font-size: 48px;
}

img {
    display: block;
    box-sizing: border-box;
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
}
 
h1,
h2 {
    text-align: center;
}

p,
li {
    font-size: 24px;
}